---
title: Danger - Reference
subtitle: Reference
layout: layout_js
---

ruby:
  reference = JSON.parse(File.read("json_data/js_ref_dsl_docs.json"))
  dsl = reference["children"].find { |c| c["name"].include? "danger.d" }["children"][0]

  interfaces = dsl["children"].select { |c| c["kindString"] == "Interface" && c["comment"] }
  danger = interfaces.find { |c| c["name"] == "DangerDSLType" }
  exports = dsl["children"].select { |c| c["kindString"] == "Function" || c["kindString"] == "Variable" }.select { |c| c['name'] != "console" && c['name'] != "results" }.sort_by { |e| e['name'] }


  def type_link(name)
    return "" unless name['type'] && name['type']['name']
    type = name['type']['name']
    return type if type.downcase == type
    "<a href='##{type}'>" + type + "</a>"
  end

  def comment(att)
    return "" unless att["comment"] && att["comment"]["shortText"]
    "// " + att["comment"]["shortText"] + "<br/>"
  end

  def params(att)
    att["signatures"].first["parameters"].map { |p| p["name"] + ": " + type_link(p) }.join(", ")
  end

  def returns(att)
    att["signatures"][0]["type"]["name"]
  end

  def fn(attribute)
    if attribute["kindString"] == "Function"
    "#{attribute['name']}(#{params(attribute)}) => #{returns(attribute)}"
    else
      "#{attribute['name']}"
    end
  end


section.guide
  article  
    p Also, check out <a href='/js/editor.html'>the editor</a>

    p So what does danger export? Well

    code
      pre
        = "import { " + exports.map{ |d| d['name'] }.join(", ") + " } from 'danger'"

    p Is the entire API for writing a Dangerfile. Let's dig into everything but <code>danger</code> first. These are the ways in which you can communicate back to Danger.

    h2 Communicating back.
    
    - for export in exports.select { |e| e['name'] != "danger" }
      p = comment(export["signatures"][0]) + "<br/><code>" + fn(export) + "</code>"

    h2 Danger DSL - root exports

    p OK, great - so now let's look through the API surface. This is the data that Danger will provide so that you can build some interesting rules.

    - for export in danger["children"]
      p = comment(export) + "<code>danger." + fn(export) + ": " + type_link(export) + "</code>"
    

    h2 Types
    - for interface in interfaces
      hr
      p  id=interface["name"] = comment(interface) + "<code>" + fn(interface) + "</code>"

      - if interface["children"]
        - for detail in interface["children"]
        
           span == comment(detail) + "<code>" + fn(detail) + ": " + type_link(detail) + "</code><br/><br/>"

           /  code = detail
